@font-face {
    font-family: amongUs2;
    src: url(../fonts/In_your_face\,\ joffrey!.ttf);
}

@font-face {
    font-family: amongUs;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: monoserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: monoserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: righteous;
    src: url(../fonts/Righteous-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #e3e3e3;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1.562rem;
    font-family: monoserrat-bold, serif;
}

/* HEADER */

.main-header {
    /* width: 100%; */
    height: 66px;
    background-color: #ff7f00;
    align-items: center;
}

.main-header .logo {
    font-family: righteous, serif;
    font-size: 1.7rem;
    color: #ffffff;
    margin-inline-start: 25px;
    cursor: pointer;
}

.main-header .logo a:hover {
    color: black;
    transition-duration: 0.3s;
}
ul{
    padding-inline-start: 0;
}
.main-header .nav {
    font-family: monoserrat-regular, serif;
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    right: 0;
    overflow: hidden;
    margin-inline-end: 20px;
}

.main-header .nav-btn li:not(:last-child) {
    border-right: 1px solid black;
    padding-right: 10px;
} 
.main-header .nav-btn li:last-child{
    padding-left: 10px;
} 
.main-header .nav-btn li a:hover{
    color: black;
    transition-duration: 0.3s;
} 
.main-header a {
    text-decoration: none;
    color: #ffffff;
}
.main-header .hamburger-nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-block-start: 15px;
    margin-inline-end: 5px;
    cursor: pointer;
    fill: #ffffff;
    color: #ffff;
    display: none;
}
.search-container .keyowrds-populer li{
color: #040a2c;
cursor: pointer;
font-family: amongUs2 ,serif;
font-size: 1.8rem;
margin-inline-end: 0.65rem;
text-transform: lowercase;
}
.search-container{
padding-right: 3.125rem;
padding-left: 3.125rem;
min-height: 100px;
background-color: #fff;
padding-top: 2.5rem;
padding-bottom: 2.5rem;
}
.search-container input{
border: none;
font-family: monospace;
text-transform: capitalize;
min-width: 10.3rem;
border-bottom: 2px solid #040a2c;
outline: none;
}
.search-container .keyowrds-populer .more-keywords{
    font-size: 1.2rem;
    margin-block-start: 8px;
}
/* GALLERY*/

.gallery-container {
    background-color: #e3e3e3;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 20px;
}

.gallery-container>* {
    max-width: 340px;
    max-height: 260px;
    border-radius: 20px;
    filter: brightness(70%);
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0 0 6px 0px black;
}

.gallery-container>*:hover {
    filter: brightness(100%);
    transform: scale(1.1);
    transition-duration: .3s;
}

/* CANVAS */

canvas {
    max-height: 500px;
    margin: 80px 100px 84px 51px;
    border: 1px solid black;
}

.editor-container {
    width: 100%;
    justify-content: center;
    background-color: #e3e3e3;
    border: 1px solid red;
}
.editor-meme {
    margin: 80px 135px 84px 0;
    max-height: 500px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
.editor-meme>* {
    border-radius: 20px;
    font-size: 1.25rem;
    background-color: #ffffff;
    outline: none;
    cursor: pointer;
}

.editor-meme>*:hover {
    background-color: lightsalmon;
    transform: scale(1.1);
    transition-duration: .5s;
}
.editor-meme> input:hover {
    transform: none;
    transition: none;
}
.editor-meme .share {
    font-family: monoserrat-regular, serif;
    color: #ffffff;
    background-color: #ff7f00;
}
.editor-meme .share:hover {
    color: #000000;
    background-color: lightsalmon;
}

.input-txt {
    grid-row: 1/2;
    grid-column: 1/-1;
    cursor: text;
}

.move-txtUp {
    grid-row: 2/3;
    grid-column: 1/2;
}

.move-txtDown {
    grid-row: 2/3;
    grid-column: 2/3;
}

.switch-line {
    grid-row: 2/3;
    grid-column: 3/4;
}

.add-line {
    grid-row: 2/3;
    grid-column: 4/5;
}

.trash {
    grid-row: 2/3;
    grid-column: 5/-1;
}

.increase-font {
    grid-row: 3/4;
    grid-column: 1/2;
}

.decrease-font {
    grid-row: 3/4;
    grid-column: 2/3;
}

.align-left {
    grid-row: 3/4;
    grid-column: 3/4;
}

.align-center {
    grid-row: 3/4;
    grid-column: 4/5;
}

.align-right {
    grid-row: 3/4;
    grid-column: 5/-1;
}

.font-family {
    grid-row: 4/5;
    grid-column: 1/4;
}

.stroke {
    grid-row: 4/5;
    grid-column: 4/5;
    position: relative;
}

.fill {
    grid-row: 4/5;
    grid-column: 5/-1;
    position: relative;
}

.download {
    grid-row: 5/-1;
    grid-column: 2/4;
}

.share {
    grid-row: 5/-1;
    grid-column: 4/-1;
}

.editor-meme img {
    width: 40px;
    object-fit: cover;
    cursor: pointer;
}

.stroke-color {
    opacity: 0;
    position: absolute;
    bottom: 0;
}

.fill-color {
    opacity: 0;
    position: absolute;
    bottom: 0;
}

/* HELPERS */

.grid {
    display: grid;
    grid-gap: 30px;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.clean-list {
    list-style: none;
}

.align {
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
/* ABOUT */

.about {
    height: 567px;
    background-color: #ffffff;
}

.about .my-pic {
    object-fit: cover;
    height: 332px;
    width: 332px;
    border-radius: 50%;
    margin: 78px 0 0 155px;
    border: 7px solid rgb(50, 50, 50);
}

.about .social-media img {
    width: 30px;
    height: 30px;
}

.about .social-media li {
    background-color: #ff7f00;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.about .social-media li:hover {
    transform: scale(1.1);
    transition: .5s;
}
.about .social-media .icon-facebook:hover {
    background-color: #4267B2;
}
.about .social-media .icon-linkedin:hover {
    background-color: #0073b1;
}
.about .social-media .icon-git:hover {
    background-color: rgb(160, 160, 160);
}

.about .social-media {
    padding-inline-start: 0;
}

.about .details {
    margin: 196px 0 0 40px;
}

.about .details h2 {
    margin-bottom: 0;
}

.about .details p {
    font-family: monoserrat-regular, serif;
    font-size: 1.25rem;
}

/* FOOTER */

.main-footer {
    width: 100%;
    height: 207px;
    background-color: #ff7f00;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-footer .copy-right {
    font-family: amongUs2, sans-serif;
    font-size: 1.4rem;
}

.main-footer .logo {
    color: #ffffff;
    font-family: righteous, serif;
    font-size: 1.7rem;
}

@media (max-width: 740px) {
    /* GALERRY */
    .about {
        flex-direction: column;
    }
    .about .team-member img {
        width: 220px;
        height: 220px;
        margin: 50px 200px 0 200px;
    }
    .about .details {
        margin: 0 40px;
    }
    .about .details h4 {
        font-size: 1rem;
        text-align: center;
    }
    .about .details li {
        justify-content: center;
    }
    /* EDITOR */
    .editor-container {
        flex-direction: column;
    }
    .editor-meme {
        grid-gap: 5px;
    }
}
@media (max-width: 540px) {
    .main-header .nav .nav-btn{
            border: 0.5px solid #292929;
            background-color: rgba(156, 154, 154, 0.897);
            height: 100%;
            width: 300px;
            position: fixed;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            top: 47px;
            z-index: 30;
            right: -300px;
            transition: transform .3s;
    }
    .main-header .hamburger-nav{
        display: inline-block;
    }
    .nav-bar-modal {
        transform: translateX(-300px);
    }
    .hamburger-logo-trans {
        transform: rotate(90deg);
    }
    .main-header .nav-btn li:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid black;
    } 
    .main-header .nav-btn li{
        padding: 10px;
    } 
    .about .team-member img {
        margin: 30px 200px 0 50px;
    }
    canvas {
        margin: 15px;
        min-width: 330px;
        min-height: 311px;
        /* width: 100%; */
    }
    .editor-meme {
        margin: 15px;
    }
}
@media (max-width: 320px) {
    canvas {
    margin-left: 40px;
    min-width: 250px;
    min-height: 200px;
    }
}